* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  color: hsl(0deg, 0%, 20%);
}

/* Add styles here! */

.max-width-wrapper {
  max-width: 1000px;
  padding-left: 36px;
  padding-right: 36px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 2.5rem;
}

/* header */

.intro-chunk {
  margin-top: 36px;
  margin-bottom: 64px;
}

.title {
  margin-bottom: 48px;
}

.intro-chunk p {
  font-size: 1.8rem;
  max-width: 500px;
}

strong {
  color: hsla(160deg, 100%, 30%, 0.9);
}

/* main */

main {
  background-color: hsl(0deg, 0%, 60%);
  border-top: 10px solid hsl(0deg, 0%, 40%);
  padding: 64px 0;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  padding-top: 10px;
  border-bottom: 10px solid hsl(0deg, 0%, 40%);
  margin-left: -36px;
  margin-right: -36px;
}

.indented-heading {
  width: fit-content;
  background-color: hsl(45deg, 100%, 60%);
  font-size: 2.2rem;
  padding: 24px 60px;
  border-bottom: 10px solid hsla(45deg, 100%, 30%, 0.3);
  margin-left: -24px;
  margin-top: 0;
}

.card p {
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.4;
  padding: 0 36px 36px;
}
